apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
images:
  - name: ghcr.io/garrido-mosqueira/hexagonal-architecture
    newName: ghcr.io/garrido-mosqueira/hexagonal-architecture
    newTag: latest
