apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
images:
  - name: us-central1-docker.pkg.dev/demoproject-487815/samples/task-api
    newName: us-central1-docker.pkg.dev/demoproject-487815/samples/task-api
    newTag: latest
